#ignore the public file where the website is output
#the other ignores where part of the stack theme git ignore so i'm copying them but not really sure what for
resources
.hugo_build.lock
assets/jsconfig.json
